@page "/"
@using PackageManager.Logic.Computer
@using PackageManager.Logic.ExecuteStrategy
@using PackageManager.Data
@using PackageManager.Logic.PackageBuilder

<button name="but" @onclick="click">Запуск</button>

@code
{
    public void click()
    {
        SimpleComputer queueComputer = new SimpleComputer(new QueueStrategy());
        SimpleComputer noWaitComputer = new SimpleComputer(new NoWaitStrategy());

        TaskType type = TaskType.Arithmetic;
        int percent = 80;

        Package package1 = (new PackageBuilder()).GetPackage(type, percent);
        Package package2 = (Package)package1.Clone();

        Report queueReport = queueComputer.Start(package1, type, percent);
        Report noWaitReport = noWaitComputer.Start(package2, type, percent);
    }
}